<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153478223-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-153478223-1');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Hi! My name is Mikal Young and I'm a software
    developer based in South Florida with a focus in Android and Web Development.">
    <title>Mikal Young - Web Developer</title>
    <% const now = new Date(); %>
    <link rel="stylesheet" type="text/css" href="assets/css/main1.css?version=<%= now.getTime(); %>">
    <link rel="stylesheet" type="text/html" href="malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" type="text/html" href="cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/mCSB_buttons.png">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Fjalla+One|Fugaz+One|Lobster+Two&display=swap"
        rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>

</head>

<body id="scroll">

    <div class="navbar">
        <h1 class="logo"><a href="/index">Mikal Young</a></h1>
        <ul id="links">
            <li><a id="link0">Home</a></li>
            <li><a id="link1">About Me</a></li>
            <li><a id="link2">Projects</a></li>
            <li><a id="link3">Contact Me</a></li>
        </ul>
    </div>

    <div id="scroller" class="holder">

        <div class="backgrounda1"></div>
        <div class="apage" id="apage1"></div>
        <div id="page1" class="page">



            <h1>
                <div>Making Ideas come to life,<br class="hideom">
                    <span class="indent" id="indent1">one line of code at a time.</span>
                </div>
            </h1>

            <div class="content">
                <p>
                    <span class="indent"></span>Hi! My name is Mikal Young and I'm a software
                    developer based in South Florida with a focus in Android and Web Development.
                    Learning is my passion, and problem solving is my hobby.<br><br>



                </p>
                <div class="assorted1">
                    <div>
                        <div>
                            <a href="https://www.linkedin.com/in/mikal-young-6772a516a" target="_blank">
                                <img src="/assets/img/linkedin-svg.svg" alt="earth" class="earth" id="earth1">


                            </a>
                        </div>

                        <div>
                            <a href="https://github.com/ventusboy" target="_blank">
                                <img src="/assets/img/github-svg.svg" alt="earth" class="earth" id="earth2">

                            </a>
                        </div>


                        <div>
                            <a href="mailto:mikalyoungie@gmail.com.com" target="_blank">
                                <img src="/assets/img/email-svg.svg" alt="earth" class="earth" id="earth3">

                            </a>
                        </div>

                        <div>
                            <a href="https://www.upwork.com/o/profiles/users/_~01f898c51eb6ad6854/" target="_blank">
                                <img src="/assets/img/upwork-svg.svg" alt="earth" class="earth" id="earth4">

                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bookholder">
                <!--<div class="desktopbg"></div>-->
                <img src="/assets/img/Component61.svg" id="desktop" alt="Designed by Mikal Young">
            </div>

            <div id="apage2"></div>

        </div>

        <div id="page2" class="page">

            <div class="assorted">
                <div>
                    <h2>Languages Spoken</h2>
                    <br>
                    <ul>
                        <li>JavaScript</li>
                        <li>HTML</li>
                        <li>SASS</li>
                        <li>Java</li>
                        <li>CSS</li>
                        <li>PHP</li>
                        <li>SQL</li>
                        <li>C</li>
                    </ul>
                </div>
                <div>
                    <h2>Tools I Use</h2>
                    <br>
                    <ul>
                        <li>Visual Studio Code</li>
                        <li>Linux Terminal</li>
                        <li>Android Studio</li>
                        <li>Bootstrap</li>
                        <li>React.js</li>
                        <li>Node.js</li>
                        <li>jquery</li>
                        <li>git</li>
                    </ul>
                </div>

            </div>
            <div class="contain">
                <h1>About Me</h1>
                <p class="scrool"><span style="margin-left: 40px;"></span>
                    My developer story starts at the at the University Of Central Florida
                    where I took my first programming class. For the first time ever I was
                    enjoying solving academic problems and learning skills that I could use
                    in my daily life, and the rest was history.<br /><br>
                    <span style="position: relative; left: 0px;">
                        <span style="margin-left: 40px;"></span> I pride myself in my ability to go above and beyond
                        for tasks given to me and my attention to detail. Every second spent developing is an
                        opportunity
                        for me to learn something new that I can carry into the future, into other languages, and into
                        my life.
                    </span>
                </p>
            </div>



            <div class="tri"></div>
            <div class="apage" id="apage3"></div>
        </div>


        <div id="page3" class="page">

            <h1>Projects</h1>
            <div class="cardholder">
                <button class="mo">
                    <div class="card">
                        <div>
                            <image src="/assets/img/earth2.svg" alt="icon" class="cardImg">
                                <a href="https://github.com/Bonfire/OptiGrader" target="_blank">
                                    <h3 class="cardTitle">Opti-Grader</h3>
                                </a>
                                <h3 class="arrow">&#x25B3;</h3>
                        </div>

                        <p class="cardText panel"><span style="margin-left: 40px;" class="hideom"></span>
                            Opti-Grader is an Android Application that uses OpenCV, a Computer Vision Library,
                            to scan a scantron using the clients phone and automatically upload and grade the answers.
                            An online gradebook
                            is available on the Opti-Grader website for both the test takers and creators.
                        </p>
                    </div>


                </button>
                <button class="mo">
                    <div class="card">
                        <div>
                            <img src="/assets/img/earth2.svg" alt="icon" class="cardImg">
                            <h3 class="cardTitle">Sound-Time</h3>
                            <h3 class="arrow">&#x25B3;</h3>
                        </div>

                        <p class="cardText panel"><span style="margin-left: 40px;" class="hideom"></span>
                            Sound-Time is an Android Application that allows users to select a audio file form
                            their devices library and set a timer that times the playback of the audio file. Since the
                            timer can end
                            the audio playback abruptly, a fade in and out effect was added to make it's real life use
                            more pleasant.
                        </p>
                    </div>


                </button>
                <button class="mo">
                    <div class="card">
                        <div>
                            <img src="/assets/img/earth2.svg" alt="icon" class="cardImg">
                            <a href="https://github.com/ventusboy/cryptoapp" target="_blank">
                                <h3 class="cardTitle">Crypt-Pholio</h3>
                            </a>
                            <h3 class="arrow">&#x25B3;</h3>
                        </div>

                        <p class="cardText panel"><span style="margin-left: 40px;" class="hideom"></span>
                            Crypt-Pholio is an Android Application that uses a free public cryptocurrency
                            api to receive information about tokens that users look up. the token is then added to their
                            dashboard and can be removed at the click of a button.
                        </p>
                    </div>


                </button>
                <button class="mo">
                    <div class="card">
                        <div>
                            <img src="/assets/img/earth2.svg" alt="icon" class="cardImg">
                            <h3 class="cardTitle">Personal-Site</h3>
                            <h3 class="arrow">&#x25B3;</h3>
                        </div>

                        <p class="cardText panel"><span style="margin-left: 40px;" class="hideom"></span>
                            My Personal Site is a simple website I created to display my talents. It uses SASS, jquery,
                            and HTML for the
                            front end, Google's firebase for hosting, and node.js to power
                            the 'Contact Me' script in the back end.

                        </p>
                    </div>


                </button>
                <button class="mo">
                    <div class="card">
                        <div>
                            <img src="/assets/img/earth2.svg" alt="icon" class="cardImg">
                            <a href="https://classdotio.herokuapp.com/" target="_blank">
                                <h3 class="cardTitle">Classdotio</h3>
                            </a>
                            <h3 class="arrow">&#x25B3;</h3>
                        </div>

                        <p class="cardText panel"><span style="margin-left: 40px;" class="hideom"></span>
                            Classdotio is an interactive Web Application using React, Node.js, Auth0, and MongoDB to
                            visually tell users
                            which classes they have taken, which classes they are eligible to take, and which classes
                            they are
                            unable to take. It uses the Auth0 SDK to enable user profile Authentication.
                            (Pardon the loading time, it is on a free heroku dyno)
                        </p>
                    </div>


                </button>
                <button class="mo">
                    <div class="card">
                        <div>
                            <img src="/assets/img/earth2.svg" alt="icon" class="cardImg">
                            <h3 class="cardTitle">Hoopla API<br class="hideod">Integration</h3>
                            <h3 class="arrow">&#x25B3;</h3>
                        </div>

                        <p class="cardText panel"><span style="margin-left: 40px;" class="hideom"></span>
                            Hoopla is a gamification system that is used to display important notices and leaderboards
                            within an office space.
                            The Hoopla API Integration project uses ZOHO's internal language, Deluge, to send and
                            receive data to and from <a>Hoopla's API</a>
                            endpoint. I also used javascript, charts.js and Netifly to retrieve, host, and display
                            carrier data in a bar graph.


                        </p>
                    </div>


                </button>
            </div>
        </div>

        <div id="page4" class="page">
            <div id="apage4"></div>
            <h1>Contact Me</h1>

            <div class="flip-card">
                <div class="flip-card-inner">

                    <div class="flip-card-front">
                        <form id="contactForm" method="POST" action="/">

                            <div>
                                <input type="text" placeholder="Name" name="name" id="name">
                                <input type="text" placeholder="Email" name="email" id="email">
                            </div>
                            <br>
                            <textarea name="comment" id="comment" cols="40"
                                placeholder="Feel free to leave a message"></textarea>

                            <br>
                            <button type="submit" form="contactForm">submit</button>
                        </form>
                    </div>

                    <div class="flip-card-back">
                        <h1>Thank you&nbsp; <span id="insertName"> </span> for your message!</h1>
                    </div>
                </div>
            </div>



        </div>
    </div>


    <script src="/assets/js/js.js?q=<%= now.getTime(); %>"></script>


    <script>


        $(document).ready(function () {
            $("#contactForm").on('submit', function (e) {
                e.preventDefault();

                const name = $('#name').val().trim();
                const email = $('#email').val().trim();
                const comment = $('#comment').val().trim();

                const data = { name, email, comment }

                $.post('/', data, function () {
                    console.log('info sent');
                })

                $('#comment').val("");
                $('#email').val("");
                $('#name').val("");

            });

        });


        var link = [];

        for (i = 0; i < 4; i++) {
            let x = 600 * i;
            let y = i + 1;
            link[i] = document.getElementById("link" + i);
            link[i].addEventListener("click", function () {
                let pageindex = "apage" + y.toString();
                let page = document.getElementById(pageindex);
                //let contain=document.getElementById("#holder");
                let contain = document.getElementById("apage1");
                console.log(y);
                page.scrollIntoView({
                    block: 'start',
                    behavior: 'smooth'
                });
                //setTimeout(() => {
                //    window.scrollBy(0,-100);
                //}, 500);
                //contain.scrollTop+=10;
                //window.scrollTo(0,x);
                /*$('html, body').animate({
                 scrollTop: $('#page'+i).offset().top
                }, 500);*/
            })
        };

        console.log(link[1].innerHTML);


        //waveElements[0].style.color="white";
        console.log(Date());
        var i = 0;


        /* waveElements[0].style.animation = "wavefadein 4s ease-in alternate infinite"
         //i++;

         setTimeout(function () {

             waveElements[1].style.animation = "wavefadein 4s ease-in alternate infinite"
             i++;
         }, 6000)
         setTimeout(function () {

             waveElements[2].style.animation = "wavefadein 4s ease-in alternate infinite"
             i++;
         }, 900)*/
    </script>
    <script>


        //return;

        console.log(window.innerWidth);


        var acc = document.getElementsByClassName("mo");
        var i;
        if (window.innerWidth < 667) {
            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function () {
                    /* Toggle between adding and removing the "active" class,
                    to highlight the button that controls the panel */
                    //this.classList.toggle("active");

                    /* Toggle between hiding and showing the active panel */
                    var panel = this.childNodes[1].getElementsByClassName("panel")[0];
                    console.log(panel);
                    //panel.style.background = "blue";
                    if (panel.style.height === "fit-content") {
                        panel.style.height = "0vh";
                        panel.style.padding = "0vh"
                    } else {
                        panel.style.height = "fit-content";
                        panel.style.padding = ".5em"
                    }
                });
            }
        }
    </script>
</body>



</html>